.my-container {

    margin-top: 50px;
    margin-left: 320px;
    margin-right: auto;
    
    max-width: 600px;
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 660px;
}

.triangle::before {
    content: "";
    position: relative;
    top: 29px;
    left: -43px;
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 40px solid #4F81BD;
}